<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\data\TournamentTracker\"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments"
			 connectionString="Server=localhost,1433;Database=Tournaments;User Id=sa;Password=Melguinha12!;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>